<style>
  .navbar {
    background-color: rgb(111, 24, 224);
    width: 100%;
    font-family: sans-serif;
  }

  .navbar-brand {
    color: black;
    font-weight: bold;
    font-size: 13px;
  }

  .navbar .navbar-nav {
    margin: 0 auto;
  }

  .fa-search {
    color: #00ffff;
    border: 0;
  }

  .fa-search:hover {
    color: rgb(37, 0, 247);
  }

  .btn-search {
    margin-left: -7px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <a class="navbar-brand">
    <img
      src="/image/other/purepng.com-booksbookillustratedwrittenprintedliteratureclipart-1421526451707uyace.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Library Management System
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/auth/admin-login" class="btn btn-success">Admin Login</a>
        <a href="/auth/user-login" class="btn btn-success">User Login</a>
        <a href="/auth/user-signup" class="btn btn-success">User Sign Up</a>
        <a href="/books/all/all/1" class="btn btn-success">Browse Books</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="Search"
          aria-label="Search"
          style="margin-right: 0px"
        />
        <div class="input-group-append">
          <button class="btn btn-secondary btn-search" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</nav>
