<html>
  <head>
    <style>
      body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: linear-gradient(135deg, #1e1e1e, #007bff); margin: 0; padding:
      0; display: flex; justify-content: center; align-items: center; height:
      100vh; color: #ffffff; } .card { background-color: rgba(0, 0, 0, 0.8);
      border-radius: 15px; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); padding:
      30px; max-width: 450px; text-align: left; backdrop-filter: blur(10px); }
      .card h1 { color: #ffffff; margin-bottom: 15px; font-size: 24px; display:
      flex; align-items: center; } .card h1 img { margin-right: 10px; height:
      40px; } .card h2 { color: #ffffff; margin-bottom: 15px; font-size: 20px; }
      .card h3 { color: #9f9f9f; margin-bottom: 15px; font-size: 18px; } .card
      h4 { color: #cccccc; margin-bottom: 25px; font-size: 16px; } .card p {
      color: #cccccc; margin-top: 25px; font-size: 14px; }
    </style>
  </head>
  <body>
    <div class="card">
      <h1>
        <img
          src="https://pngimg.com/uploads/book/book_PNG2105.png"
          alt="logo"
        />
        Library Management System
      </h1>
      <h2>Verification</h2>
      <h3>Dear Admin,</h3>
      <h4>Your email {{email}} has been verified.</h4>
      <p>Thank you for verifying your email address. You can now access all the
        mailing features of the Library Management System.</p>
      <p>System generated mail.<br />Don't reply back to this mail.</p>
    </div>
  </body>
</html>