.btn-group-xs > .btn,
.btn-xs {
  padding: 0.4rem 0.4rem;
  font-size: 0.8rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.table-text {
  color: red;
  font-weight: bold;
}
